.tweet-main-container {
  display: flex;
  margin: 10px;
  border-bottom: 2px inset;
}

img {
  border-radius: 50%;
}

.tweet-container {
  max-width: 70%;
  padding: 10px 0 5px 10px;
  font-size: 20px;
}

.name-tweet-wrapper {
  display: flex;
  flex-direction: column;
}

.username-wrapper {
  margin-left: 10px;
  font-weight: bold;
}

.tagname-wrapper {
  margin-left: 10px;
  color: gray;
}
